<form onsubmit={{action 'addMessage'}}>
  {{input value=newMessage}}
  <button type="submit">Add Message</button>
</form>

<ul>
  {{#each model as |message|}}
    <li>{{message.text}}</li>
  {{/each}}
</ul>
